.ui-component {
  border-radius: 10px;
  border: solid 2px lightgrey;
  background-color: grey;


}

.ui-svg {
  margin-left: 2.5%;
  margin-top: 5%;

  width: 95%;
  height: 80%;
  pointer-events: none;
}
