/* tell the SVG path to be a thin blue line without any area fill */
path {
	stroke: blue;
	stroke-width: 2;
	fill: none;
	pointer-events: none;
}

.area {
  fill: steelblue;
	opacity: 0.8;
	pointer-events: none;
}

.axis {
  shape-rendering: crispEdges;
	pointer-events: none;
}

.x.axis line {
  stroke: lightgrey;
}

.x.axis .minor {
  stroke-opacity: .2;
}

.x.axis path {
  display: none;
}

.y.axis line, .y.axis path {
  /*fill: none;*/
	stroke-opacity: .2;
  stroke: lightgrey;
}
