///////////////////////////////////////////////////////////
//
//          Stylesheet for TRI data
//          Authors:
//              David Burlinson
//
///////////////////////////////////////////////////////////

* { margin:0; padding:0; }

body, html {
   margin: 0; padding: 0;
}

h1 {
 opacity: 0.6;
}

rect.area.hidden {
  opacity: 0;
}

.hidden {
  opacity: 0;
}

.background {
    fill: lightblue;
    fill: none;
/*    background: url(http://mbostock.github.io/d3/talk/20111018/texture-noise.png);*/
    pointer-events: all;
    border-radius: 5px;
}

#auxiliaryInfoTab {

}

#explorationTools { // container div
    /*left: -50;*/
    top: 50px;
    height: 0px;
    width: 0px;
    border-radius: 5px;
    position: absolute;
    pointer-events: all;
    /*border: solid 3px darkgrey;*/

}

#explorationBackground {
    background-color: linen;
    border-radius: 5px;
    opacity: 0.9;
    width: 100%;
    height: 100%;
    position: absolute;
}

#explorationToggle {
      background-color: grey;
      border-radius: 5px;
      color: grey;
      width: 1vw;
      height: 5vw;
      position: absolute;
      top: 200px;
      left: 10px;

      -webkit-box-shadow:inset 0px 0px 0px 2px darkgrey;
      -moz-box-shadow:inset 0px 0px 0px 2px darkgrey;
      box-shadow:inset 0px 0px 0px 2px darkgrey;
}

.explorationSVG1 {
  position: absolute;
  z-index: 10;
  pointer-events: all;
  width: 100%;
  height: 50%;
}

.explorationSVG2 {
  position: absolute;
  z-index: 10;
  pointer-events: all;
  top: 60%;
  width: 100%;
  height: 15%;
}


.toggleButton {
    fill: pink;

}

#map {
    /*position: fixed;*/
    /*top: 10px;*/
    border-radius: 5px;
    /*z-index: -1;*/
    /*border: solid 2px black;*/
}


#graphs {
    opacity: 1;
}

#graph1 {

}

#key {
    position: relative;
    height: 20px;
    top: 10px;
    left: 200px;
    opacity: 0;
    width: 600px;
}

.graph {
    /*background-color: white;*/
}

.graphLine {
    position: absolute;
    width: 95%;
    height: 280px;
    pointer-events: none;

}

.area {
    opacity: .2;
    background-color: gray;
    position: absolute;
}

.clickThrough {
    pointer-events: none;
}

.feature {
  fill: tan;
  stroke: darkgrey;
  //cursor: pointer;

}

.feature.active {
  fill: orange;
}

.stateMesh {
  fill: none;
  stroke: black;
  stroke-opacity: .5;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.countyMesh {
  fill: none;
  stroke: #DDDDDD;
  stroke-width: 0.5px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 2,1;
}

#container {
    height:100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    background: url(http://mbostock.github.io/d3/talk/20111018/texture-noise.png);
}

#dataView {
    position: absolute;
    min-width:200px;
    min-height: 50px;
    max-width:300px;
    padding: 15px;
    border-radius: 5px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    background-color: lightslategrey;
    opacity: 0;
    pointer-events: none;
}

#listView {
    position: absolute;
    min-width:100px;
    min-height: 25px;
    max-width:200px;
    max-height: 50px;
    padding: 5px;
    border-radius: 3px;
/*
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-right: 2px solid black;
*/
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    background-color: lightslategrey;
    opacity: 0;
    pointer-events: none;
}

#list {
    float:left;
    max-width: 50px;
    height: 300px;
}

.listEle {
    fill: lightskyblue;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.listEleCurr {
    fill: skyblue;
    stroke-width: 1.5px;
    stroke: black;
}

.keyElement {
    display: block;
    width: 120px;
    float: left;
    vertical-align: middle;
}

.keyElementText {
    padding-left: 5px;
    float: left;
}

.keyButton {
    background-color: black;
    border-radius: 2px;
    color: black;
    width: 1vw;
    height: 1vw;
    float:left;
}

div.deselected {
    opacity: .3;
}

.deselected {
    opacity: 0;
}

div.no_selection {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
    cursor: default;
}


.popupMessage {
    background-color: lightskyblue;
    width: 100px;
    height: 34px;
    left: 20px;
    top: 20px;
    position: fixed;
    border-radius: 2px;
    border-bottom-right-radius: 15px;
    padding: 1px;
    vertical-align: middle;
    line-height:30px;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica;

}

#title {
    position: absolute;
    width:100%;
    top: -15px;
    height: 60px;
    text-align: center;
    pointer-events: none;
    /*border-bottom: solid 1px grey;*/
    overflow-x: hidden;
}

.brush .extent {
  fill-opacity: .1;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.brushColorOverlay {
  opacity: 0.1;
}

.brushed {
  fill: white;
/*  opacity: .5;*/
}

.fade {
    opacity: .2;
}

.facility.fade {
    opacity: 0.1;
}

.facility {
    stroke: black;
    stroke-opacity: .5;
}

.facility.scanned {
  fill: orange;
  fill-opacity: 1;
  stroke: brown;
}

.facility.selected {
  fill: white;
  fill-opacity: 1;
}

.node {
  fill: none;
  stroke: green;
  shape-rendering: crispEdges;
  display: none;
}

.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}

.lineChart {
  fill:none;
  stroke-width: 2;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.x .axis {
  stroke: black;
}


/**********************      Tooltips and Screen Regions       **********************/

.overlayOptionButton {
    opacity: 0.5;
}

/**********************      ===========================       **********************/
